# Medicare Data Pandas

In [2]:
import pandas as pd
fname = "Inpatient_Prospective_Payment_System__IPPS__Provider_Summary_for_the_Top_100_Diagnosis-Related_Groups__DRG__-_FY2011.csv"

df = pd.read_csv(fname)

In [3]:
new_cols = ['drg_desc', 'old_provider_id', 'provider_name', 'street', 'city_name', 'state_name', 'zip', 'referral_region_desc', 'total_discharges', 'avg_cov_charges', 'avg_total_payment', 'avg_med_payment']

In [4]:
df.columns = new_cols

In [5]:
df.head()

,drg_desc,old_provider_id,provider_name,street,city_name,state_name,zip,referral_region_desc,total_discharges,avg_cov_charges,avg_total_payment,avg_med_payment
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,32963.07,5777.24,4763.73
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,15131.85,5787.57,4976.71
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,AL - Birmingham,24,37560.37,5434.95,4453.79
3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10011,ST VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,AL - Birmingham,25,13998.28,5417.56,4129.16
4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10016,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,AL - Birmingham,18,31633.27,5658.33,4851.44

In [15]:
print(list(df.columns))

['drg_desc', 'old_provider_id', 'provider_name', 'street', 'city_name', 'state_name', 'zip', 'referral_region_desc', 'total_discharges', 'avg_cov_charges', 'avg_total_payment', 'avg_med_payment']

TABLES TO MAKE: drg, provider_drg, provider, referral_region, address, city, state;

In [ ]:
for each in tables_to_make(): 
    table = get_unique('each')
    with as fname: 
        csv.write(table)

## Create states

In [ ]:
CREATE TABLE IF NOT EXISTS state
  (
    state_id INTEGER NOT NULL AUTO_INCREMENT UNIQUE,
    state_name VARCHAR(100) NOT NULL UNIQUE,
    PRIMARY KEY (state_id)
  )
ENGINE=InnoDB
CHARACTER SET utf8mb4
COLLATE utf8mb4_0900_ai_ci;

In [37]:
state_table = get_unique('state_name')

state_name
163065
51
['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'TX' 'MO' 'MT'
 'NE' 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC'
 'SD' 'TN' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']

In [ ]:
for each in state_table: 
    df['state_id'] = autoincrement ## add an ID for each state
    ## push this ID back into the main table

## Create cities table

In [ ]:
CREATE TABLE IF NOT EXISTS city
  (
    city_id INTEGER NOT NULL AUTO_INCREMENT UNIQUE,
    city_name VARCHAR(100) NOT NULL UNIQUE,
    state_id INTEGER NOT NULL,
    PRIMARY KEY (city_id),
    FOREIGN KEY (state_id) REFERENCES state(state_id) ON DELETE RESTRICT ON UPDATE CASCADE
  )
ENGINE=InnoDB
CHARACTER SET utf8mb4
COLLATE utf8mb4_0900_ai_ci;

In [ ]:
cities_table = get_unique('city_name')

In [ ]:
for each in city_table: 
    df['city_id'] = autoincrement ## add an ID for each state
    ## push this ID back into the main table

### Changes to city and state table

Need to check if state and city_state ever co-occur (likely they do) - i.e .Detroit OR and Detroit MI 
Create concat of city and state. Assign unique ID to this.

In [ ]:
# Table name: city_state

# PK  = city_state_id
# Column 1 = city-state name
# Column 2 = city
# Column 3 = state

In [ ]:
# Table name: address

# PK = address ID 
# Col 1 = Address value 
# Col 2 = City-state value 
# Col 3 = Zip

In [ ]:
# Table name: address

# PK = address ID 
# Col 1 = Address value 
# Col 2 = City-state value 
# Col 3 = Zip

Outcome here is that I just wrap my city and state tables into a single table, and end up with one less table overall.

## Others

In [27]:
old_provider_id_table = get_unique('old_provider_id')

old_provider_id
163065
3337
[ 10001  10005  10006 ... 390025 390272 390278]

In [29]:
drg_table = get_unique('drg_desc')

drg_desc
163065
100
['039 - EXTRACRANIAL PROCEDURES W/O CC/MCC'
 '057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/O MCC'
 '069 - TRANSIENT ISCHEMIA'
 '064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFARCTION W MCC'
 '065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFARCTION W CC'
 '066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFARCTION W/O CC/MCC'
 '074 - CRANIAL & PERIPHERAL NERVE DISORDERS W/O MCC'
 '101 - SEIZURES W/O MCC' '149 - DYSEQUILIBRIUM'
 '176 - PULMONARY EMBOLISM W/O MCC'
 '177 - RESPIRATORY INFECTIONS & INFLAMMATIONS W MCC'
 '189 - PULMONARY EDEMA & RESPIRATORY FAILURE'
 '178 - RESPIRATORY INFECTIONS & INFLAMMATIONS W CC'
 '190 - CHRONIC OBSTRUCTIVE PULMONARY DISEASE W MCC'
 '191 - CHRONIC OBSTRUCTIVE PULMONARY DISEASE W CC'
 '193 - SIMPLE PNEUMONIA & PLEURISY W MCC'
 '194 - SIMPLE PNEUMONIA & PLEURISY W CC'
 '192 - CHRONIC OBSTRUCTIVE PULMONARY DISEASE W/O CC/MCC'
 '195 - SIMPLE PNEUMONIA & PLEURISY W/O CC/MCC'
 '202 - BRONCHITIS & ASTHMA W CC/MCC'
 '203 - BRONCHITIS & ASTHMA W/O CC/MCC'
 '207 - RESPIRATORY SYSTEM DIAGNOSIS W VENTILATOR SUPPORT 96+ HOURS'
 '238 - MAJOR CARDIOVASC PROCEDURES W/O MCC'
 '252 - OTHER VASCULAR PROCEDURES W MCC'
 '253 - OTHER VASCULAR PROCEDURES W CC'
 '208 - RESPIRATORY SYSTEM DIAGNOSIS W VENTILATOR SUPPORT <96 HOURS'
 '254 - OTHER VASCULAR PROCEDURES W/O CC/MCC'
 '291 - HEART FAILURE & SHOCK W MCC'
 '243 - PERMANENT CARDIAC PACEMAKER IMPLANT W CC'
 '244 - PERMANENT CARDIAC PACEMAKER IMPLANT W/O CC/MCC'
 '246 - PERC CARDIOVASC PROC W DRUG-ELUTING STENT W MCC OR 4+ VESSELS/STENTS'
 '247 - PERC CARDIOVASC PROC W DRUG-ELUTING STENT W/O MCC'
 '249 - PERC CARDIOVASC PROC W NON-DRUG-ELUTING STENT W/O MCC'
 '251 - PERC CARDIOVASC PROC W/O CORONARY ARTERY STENT W/O MCC'
 '280 - ACUTE MYOCARDIAL INFARCTION, DISCHARGED ALIVE W MCC'
 '292 - HEART FAILURE & SHOCK W CC'
 '281 - ACUTE MYOCARDIAL INFARCTION, DISCHARGED ALIVE W CC'
 '282 - ACUTE MYOCARDIAL INFARCTION, DISCHARGED ALIVE W/O CC/MCC'
 '286 - CIRCULATORY DISORDERS EXCEPT AMI, W CARD CATH W MCC'
 '287 - CIRCULATORY DISORDERS EXCEPT AMI, W CARD CATH W/O MCC'
 '293 - HEART FAILURE & SHOCK W/O CC/MCC'
 '300 - PERIPHERAL VASCULAR DISORDERS W CC'
 '301 - PERIPHERAL VASCULAR DISORDERS W/O CC/MCC'
 '303 - ATHEROSCLEROSIS W/O MCC' '305 - HYPERTENSION W/O MCC'
 '308 - CARDIAC ARRHYTHMIA & CONDUCTION DISORDERS W MCC'
 '312 - SYNCOPE & COLLAPSE'
 '309 - CARDIAC ARRHYTHMIA & CONDUCTION DISORDERS W CC'
 '310 - CARDIAC ARRHYTHMIA & CONDUCTION DISORDERS W/O CC/MCC'
 '313 - CHEST PAIN' '314 - OTHER CIRCULATORY SYSTEM DIAGNOSES W MCC'
 '315 - OTHER CIRCULATORY SYSTEM DIAGNOSES W CC'
 '330 - MAJOR SMALL & LARGE BOWEL PROCEDURES W CC'
 '377 - G.I. HEMORRHAGE W MCC'
 '329 - MAJOR SMALL & LARGE BOWEL PROCEDURES W MCC'
 '372 - MAJOR GASTROINTESTINAL DISORDERS & PERITONEAL INFECTIONS W CC'
 '378 - G.I. HEMORRHAGE W CC' '379 - G.I. HEMORRHAGE W/O CC/MCC'
 '389 - G.I. OBSTRUCTION W CC' '390 - G.I. OBSTRUCTION W/O CC/MCC'
 '391 - ESOPHAGITIS, GASTROENT & MISC DIGEST DISORDERS W MCC'
 '394 - OTHER DIGESTIVE SYSTEM DIAGNOSES W CC'
 '439 - DISORDERS OF PANCREAS EXCEPT MALIGNANCY W CC'
 '392 - ESOPHAGITIS, GASTROENT & MISC DIGEST DISORDERS W/O MCC'
 '460 - SPINAL FUSION EXCEPT CERVICAL W/O MCC'
 '473 - CERVICAL SPINAL FUSION W/O CC/MCC'
 '418 - LAPAROSCOPIC CHOLECYSTECTOMY W/O C.D.E. W CC'
 '419 - LAPAROSCOPIC CHOLECYSTECTOMY W/O C.D.E. W/O CC/MCC'
 '469 - MAJOR JOINT REPLACEMENT OR REATTACHMENT OF LOWER EXTREMITY W MCC'
 '470 - MAJOR JOINT REPLACEMENT OR REATTACHMENT OF LOWER EXTREMITY W/O MCC'
 '480 - HIP & FEMUR PROCEDURES EXCEPT MAJOR JOINT W MCC'
 '481 - HIP & FEMUR PROCEDURES EXCEPT MAJOR JOINT W CC'
 '536 - FRACTURES OF HIP & PELVIS W/O MCC'
 '482 - HIP & FEMUR PROCEDURES EXCEPT MAJOR JOINT W/O CC/MCC'
 '552 - MEDICAL BACK PROBLEMS W/O MCC'
 '491 - BACK & NECK PROC EXC SPINAL FUSION W/O CC/MCC'
 '563 - FX, SPRN, STRN & DISL EXCEPT FEMUR, HIP, PELVIS & THIGH W/O MCC'
 '602 - CELLULITIS W MCC' '603 - CELLULITIS W/O MCC' '638 - DIABETES W CC'
 '640 - MISC DISORDERS OF NUTRITION,METABOLISM,FLUIDS/ELECTROLYTES W MCC'
 '682 - RENAL FAILURE W MCC'
 '641 - MISC DISORDERS OF NUTRITION,METABOLISM,FLUIDS/ELECTROLYTES W/O MCC'
 '683 - RENAL FAILURE W CC' '684 - RENAL FAILURE W/O CC/MCC'
 '689 - KIDNEY & URINARY TRACT INFECTIONS W MCC'
 '690 - KIDNEY & URINARY TRACT INFECTIONS W/O MCC'
 '811 - RED BLOOD CELL DISORDERS W MCC'
 '698 - OTHER KIDNEY & URINARY TRACT DIAGNOSES W MCC'
 '699 - OTHER KIDNEY & URINARY TRACT DIAGNOSES W CC'
 '812 - RED BLOOD CELL DISORDERS W/O MCC'
 '853 - INFECTIOUS & PARASITIC DISEASES W O.R. PROCEDURE W MCC'
 '885 - PSYCHOSES' '870 - SEPTICEMIA OR SEVERE SEPSIS W MV 96+ HOURS'
 '871 - SEPTICEMIA OR SEVERE SEPSIS W/O MV 96+ HOURS W MCC'
 '872 - SEPTICEMIA OR SEVERE SEPSIS W/O MV 96+ HOURS W/O MCC'
 '897 - ALCOHOL/DRUG ABUSE OR DEPENDENCE W/O REHABILITATION THERAPY W/O MCC'
 '948 - SIGNS & SYMPTOMS W/O MCC'
 '917 - POISONING & TOXIC EFFECTS OF DRUGS W MCC'
 '918 - POISONING & TOXIC EFFECTS OF DRUGS W/O MCC']

In [30]:
referral_region_table = get_unique('referral_region_desc')

referral_region_desc
163065
306
['AL - Dothan' 'AL - Birmingham' 'AL - Montgomery' 'AL - Huntsville'
 'AL - Mobile' 'AL - Tuscaloosa' 'AK - Anchorage' 'AZ - Phoenix'
 'AZ - Tucson' 'AZ - Sun City' 'AZ - Mesa' 'NV - Las Vegas'
 'AR - Springdale' 'AR - Little Rock' 'AR - Jonesboro' 'MO - Springfield'
 'AR - Fort Smith' 'CA - Redding' 'CA - San Mateo County' 'CA - Napa'
 'CA - Sacramento' 'CA - San Diego' 'CA - Bakersfield' 'CA - Chico'
 'CA - Los Angeles' 'CA - Orange County' 'CA - Ventura' 'CA - Stockton'
 'CA - Fresno' 'CA - Santa Barbara' 'CA - Santa Rosa' 'CA - Modesto'
 'CA - Contra Costa County' 'CA - San Luis Obispo'
 'CA - Palm Springs/Rancho M' 'CA - San Jose' 'CA - Salinas'
 'CA - San Francisco' 'CA - San Bernardino' 'CO - Greeley'
 'NM - Albuquerque' 'CO - Denver' 'CO - Pueblo' 'CO - Colorado Springs'
 'CO - Grand Junction' 'CT - New Haven' 'CT - Hartford' 'CT - Bridgeport'
 'DE - Wilmington' 'MD - Salisbury' 'DC - Washington'
 'FL - Fort Lauderdale' 'FL - Orlando' 'FL - Fort Myers'
 'FL - Ormond Beach' 'FL - Ocala' 'FL - Pensacola' 'FL - Panama City'
 'FL - Miami' 'FL - Bradenton' 'FL - Jacksonville' 'FL - Tampa'
 'FL - St. Petersburg' 'FL - Sarasota' 'FL - Hudson' 'FL - Gainesville'
 'FL - Clearwater' 'FL - Tallahassee' 'FL - Lakeland' 'GA - Albany'
 'GA - Atlanta' 'GA - Augusta' 'GA - Savannah' 'GA - Rome' 'GA - Macon'
 'GA - Columbus' 'HI - Honolulu' 'ID - Boise' 'ID - Idaho Falls'
 'UT - Salt Lake City' 'WA - Spokane' 'IL - Joliet' 'IL - Melrose Park'
 'IL - Evanston' 'IL - Peoria' 'IL - Springfield' 'IL - Aurora'
 'IL - Elgin' 'IL - Rockford' 'MO - St. Louis' 'IL - Blue Island'
 'IL - Urbana' 'IL - Chicago' 'IL - Bloomington' 'KY - Paducah'
 'WI - Milwaukee' 'IL - Hinsdale' 'IA - Davenport' 'IN - Gary'
 'KY - Louisville' 'IN - South Bend' 'IN - Fort Wayne' 'IN - Terre Haute'
 'IN - Evansville' 'IN - Indianapolis' 'IN - Muncie' 'IN - Munster'
 'IN - Lafayette' 'IA - Des Moines' 'IA - Cedar Rapids' 'NE - Omaha'
 'IA - Iowa City' 'IA - Mason City' 'IA - Dubuque' 'IA - Waterloo'
 'IA - Sioux City' 'KS - Wichita' 'KS - Topeka' 'MO - Kansas City'
 'WV - Huntington' 'KY - Lexington' 'TN - Nashville' 'KY - Covington'
 'KY - Owensboro' 'LA - Lafayette' 'LA - Houma' 'LA - Baton Rouge'
 'LA - Alexandria' 'LA - Lake Charles' 'LA - New Orleans' 'LA - Slidell'
 'LA - Shreveport' 'LA - Metairie' 'LA - Monroe' 'ME - Portland'
 'ME - Bangor' 'MD - Takoma Park' 'MD - Baltimore' 'MA - Worcester'
 'RI - Providence' 'MA - Boston' 'NY - Albany' 'MA - Springfield'
 'MI - Muskegon' 'MI - Kalamazoo' 'MI - Royal Oak' 'MI - Dearborn'
 'MI - St. Joseph' 'MI - Pontiac' 'MI - Detroit' 'MI - Saginaw'
 'MI - Grand Rapids' 'MI - Ann Arbor' 'MI - Marquette'
 'MI - Traverse City' 'MI - Petoskey' 'MI - Flint' 'MI - Lansing'
 'MN - Minneapolis' 'MN - Duluth' 'MN - Rochester' 'MN - St. Cloud'
 'MN - St. Paul' 'ND - Fargo/Moorhead MN' 'MS - Jackson' 'MS - Tupelo'
 'TN - Memphis' 'MS - Gulfport' 'MS - Oxford' 'MS - Meridian'
 'MS - Hattiesburg' 'TX - Dallas' 'MO - Joplin' 'MO - Columbia'
 'MO - Cape Girardeau' 'MT - Billings' 'MT - Great Falls' 'MT - Missoula'
 'NE - Lincoln' 'NV - Reno' 'NH - Manchester' 'NH - Lebanon'
 'NJ - Hackensack' 'NJ - Newark' 'NJ - Ridgewood' 'NJ - Camden'
 'NJ - Morristown' 'NJ - Paterson' 'PA - Philadelphia'
 'NJ - New Brunswick' 'TX - El Paso' 'TX - Lubbock' 'NY - Buffalo'
 'NY - Binghamton' 'NY - Manhattan' 'NY - Elmira' 'NY - Bronx'
 'NY - East Long Island' 'NY - Rochester' 'NY - White Plains'
 'NY - Syracuse' 'VT - Burlington' 'NC - Charlotte' 'NC - Asheville'
 'NC - Winston-Salem' 'NC - Greenville' 'NC - Raleigh' 'NC - Durham'
 'NC - Greensboro' 'VA - Norfolk' 'NC - Hickory' 'NC - Wilmington'
 'ND - Bismarck' 'ND - Minot' 'ND - Grand Forks' 'OH - Columbus'
 'OH - Dayton' 'OH - Akron' 'OH - Cleveland' 'OH - Toledo'
 'OH - Cincinnati' 'OH - Youngstown' 'OH - Canton' 'OH - Kettering'
 'OH - Elyria' 'PA - Pittsburgh' 'OK - Tulsa' 'OK - Oklahoma City'
 'OK - Lawton' 'OR - Medford' 'OR - Portland' 'OR - Eugene' 'OR - Bend'
 'OR - Salem' 'PA - Scranton' 'PA - Danville' 'PA - Erie' 'PA - Reading'
 'PA - York' 'PA - Allentown' 'PA - Harrisburg' 'PA - Altoona'
 'PA - Lancaster' 'PA - Johnstown' 'PA - Wilkes-Barre' 'SC - Charleston'
 'SC - Spartanburg' 'SC - Columbia' 'SC - Greenville' 'SC - Florence'
 'SD - Sioux Falls' 'SD - Rapid City' 'TN - Jackson' 'TX - Odessa'
 'TN - Knoxville' 'TN - Kingsport' 'TN - Johnson City' 'TN - Chattanooga'
 'TX - San Antonio' 'TX - Wichita Falls' 'TX - Bryan' 'TX - Victoria'
 'TX - Harlingen' 'TX - Beaumont' 'TX - Longview' 'TX - Waco'
 'TX - Corpus Christi' 'TX - Temple' 'TX - Austin' 'TX - Fort Worth'
 'TX - Houston' 'TX - Tyler' 'AR - Texarkana' 'TX - Amarillo'
 'TX - Abilene' 'TX - San Angelo' 'TX - McAllen' 'UT - Provo' 'UT - Ogden'
 'VA - Charlottesville' 'VA - Winchester' 'VA - Lynchburg' 'VA - Richmond'
 'VA - Roanoke' 'VA - Arlington' 'VA - Newport News' 'WA - Seattle'
 'WA - Yakima' 'WA - Everett' 'WA - Olympia' 'WA - Tacoma'
 'WV - Morgantown' 'WV - Charleston' 'WI - La Crosse' 'WI - Madison'
 'WI - Wausau' 'WI - Marshfield' 'WI - Green Bay' 'WI - Appleton'
 'WY - Casper' 'CO - Fort Collins' 'CA - Alameda County' 'CO - Boulder'
 'PA - Sayre' 'CA - Santa Cruz' 'WI - Neenah']

In [31]:
address_table = get_unique('street')

for each in address_table: 
    # Create a new address ID
    # Pull associated street 
    # Pull associated zip

street
163065
3326
['1108 ROSS CLARK CIRCLE' '2505 U S HIGHWAY 431 NORTH'
 '205 MARENGO STREET' ... '136 W DIAMOND STREET' '1033 W GERMANTOWN PIKE'
 '100 EAGLEVILLE RD']

In [32]:
city_table = get_unique('city_name')

city_name
163065
1977
['DOTHAN' 'BOAZ' 'FLORENCE' ... 'HAMLIN' 'CATAWBA' 'EAGLEVILLE']

In [34]:
state_table = get_unique('state_name')

state_name
163065
51
['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'TX' 'MO' 'MT'
 'NE' 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC'
 'SD' 'TN' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']

In [24]:
def get_unique(var_name):
    print(var_name)
    state_temp = df[var_name]
    print(state_temp.size)
    state_uniq = state_temp.unique()
    print(state_uniq.size)
    print(state_uniq)
    return state_uniq

## Table SQL code

CREATE TABLE IF NOT EXISTS provider
  (
    provider_id INTEGER NOT NULL AUTO_INCREMENT UNIQUE,
    old_provider_id VARCHAR(100) NOT NULL,
    provider_name VARCHAR(100) NOT NULL UNIQUE,
    referral_region_id INTEGER NOT NULL UNIQUE, 
    address_id INTEGER NOT NULL,
    PRIMARY KEY (provider_id),
    FOREIGN KEY (referral_region_id) REFERENCES referral_region(referral_region_id) ON DELETE RESTRICT ON UPDATE CASCADE,
    FOREIGN KEY (address_id) REFERENCES address(address_id) ON DELETE RESTRICT ON UPDATE CASCADE
  )
ENGINE=InnoDB
CHARACTER SET utf8mb4
COLLATE utf8mb4_0900_ai_ci;

CREATE TABLE IF NOT EXISTS city
  (
    city_id INTEGER NOT NULL AUTO_INCREMENT UNIQUE,
    city_name VARCHAR(100) NOT NULL UNIQUE,
    state_id INTEGER NOT NULL,
    PRIMARY KEY (city_id),
    FOREIGN KEY (state_id) REFERENCES state(state_id) ON DELETE RESTRICT ON UPDATE CASCADE
  )
ENGINE=InnoDB
CHARACTER SET utf8mb4
COLLATE utf8mb4_0900_ai_ci;

## Old code

In [35]:
state_temp = df['state_name']
print(state_temp.size)
state_uniq = state_temp.unique()
print(state_uniq.size)
print(state_uniq)

163065
51
['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'TX' 'MO' 'MT'
 'NE' 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC'
 'SD' 'TN' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']